
'scopeName': 'source.gemtext'
'name': 'Gemtext'
'limitLineLength': false
'fileTypes': [
  'gmi'
]
'patterns': [
  {
    'name': 'markup.raw'
    'contentName': 'string.unquoted'
    'begin': '^(```)(.*)$'
    'beginCaptures':
      1: name: 'entity'
      2: name: 'entity.name.tag'
    'end': '^```'
    'endCaptures':
      0: name: 'entity'
  },
  {
    'match': '^#{1,3}(.*)$'
    'captures': {
      '1': {
        'name': 'markup.heading.gmi'
      }
    }
  },
  {
    'match': '^\\*[ \t](.*)$'
    'captures': {
      '1': {
        'name': 'markup.italic'
      }
    }
  },
  {
    'match': '^>(.*)$'
    'captures': {
      '1': {
        'name': 'markup.quote'
      }
    }
  },
  {
    'match': '^=>[ \\t]{1,}([^ \\t\\n\\r]{1,})([ \\t]{1,}([0-9]{4}-[01][0-9]-[0-3][0-9])($|[ \\t]))?.*$'
    'captures': {
      '1': {
        'name': 'markup.underline.link'
      }
      '3': {
        'name': 'constant.numeric'
      }
    }
  }
]
